<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesfile.css" th:href="@{/stylesfile.css}">
    <title>Events - RIT College Tech Fest</title>
</head>
<body>
    <header>
        <h1>Events at RIT College Tech Fest</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/index2">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/registration">Registration</a></li>
        </ul>
    </nav>
    <section class="alignment">
        <h2>Upcoming Events</h2>
        <ul>
            <li>
                <h3>Robotics Competition</h3><br>
                <p>Join our robotics competition and showcase your engineering skills.</p><br>
                <img id="images" src="https://tse1.mm.bing.net/th?id=OIP.gtpRi1tAKq_HQ9vNEFql3QHaDt&pid=Api&P=0&h=180" alt="Robotics Image"><br>
            </li>
            <li>
                <h3>Web Development Workshop</h3><br>
                <p>Learn the latest web development technologies in our hands-on workshop.</p><br>
                <img id="images" src="https://tse3.mm.bing.net/th?id=OIP.csbRWBqbcbd3oP6syZ7hBQHaEK&pid=Api&P=0&h=180" alt="Web Development Image">
            </li>
        </ul>
    </section>
    <footer>
        <p>&copy; 2023 RIT College</p>
    </footer>
</body>
</html>