<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styless.css" th:href="@{/styless.css}">
</head>

<body>
    <header>
        <h1>Welcome to the Quiz Platform</h1>
        <p>Test your knowledge and have fun!</p>
    </header>
    <!-- <img src="../static/images/936846-rohit-2.avif" th:src="@{/images/936846-rohit-2.avif}"/> -->
    <main>
        <a href="/quiz" class="start-button">Start Quiz</a>
    </main>
</body>

</html>