<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styless.css" th:href="@{/styless.css}">
    <title>Quiz</title>
</head>
<body>
    <header>
        <h1>Quiz Time!</h1>
        <p>Answer the following questions:</p>
    </header>
    <main>
        <div class="question">
            <h2>Question 1:</h2>
            <p>What is the capital of France?</p>
            <ul>
                <li><input type="radio" name="q1" value="Paris"> Paris</li>
                <li><input type="radio" name="q1" value="London"> London</li>
                <li><input type="radio" name="q1" value="Berlin"> Berlin</li>
            </ul>
        </div>
        <!-- Add more questions here -->
        <a href="/result" class="start-button">next</a>
        
    </main>
</body>
</html>