<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesfile.css" th:href="@{/stylesfile.css}">
    <title>Registration - RIT College Tech Fest</title>
</head>
<body class="registration">
    <header>
        <h1>Register for RIT College Tech Fest</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index2">Home</a></li>
            <li><a href="events">Events</a></li>
            <li><a href="registration">Registration</a></li>
        </ul>
    </nav>
    <section>
        <h2 style="text-align: center;">Registration Form</h2><br>
        <form class="form" action="/registration1" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="uname" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="uemail" required>

            <label for="password">password:</label>
            <input type="password" id="password" name="upassword" required>

            
            <label for="contact">contact:</label>
            <input type="contact" id="contact" name="ucontact" required>

            
         

            <!-- <label for="event">Select Event:</label>
            <select id="event" name="event">
                <option value="robotics">Robotics Competition</option>
                <option value="web-dev">Web Development Workshop</option>
            </select> -->

            <button class="submit"   type="submit" value="submit" >Register</button>
        </form>
    </section>
    <footer>
        <p>&copy; 2023 RIT College</p>
    </footer>
</body>
</html>