<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show All Users</title>
</head>
<body>
    <h1>Show All Users</h1>
    <table border="1">
        <tr>
            <th>ID Details</th>
            <th>ID Type</th>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Vaccine Name</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.idDetails}"></td>
            <td th:text="${user.idType}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.contactNumber}"></td>
            <td th:text="${user.vaccineName}"></td>
        </tr>
    </table>
</body>
</html>
